*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6875;
}

h1, h2, h3, h4, h5, h6, ul, ol, blockquote, p {
    margin: 0 0 20px 0;
}

ul, ol {
    padding-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
}

header {
    padding: 30px;
    text-align: center;
    background: #0A8DFF;
    color: white;
}

header h1 {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.log ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.log ul li {
    background: #0A8DFF;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.log .user {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.log .message {
    display: block;
    font-size: 18px;
}

.form .input {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    padding: 5px;
    border: 1px solid #0A8DFF;
    border-radius: 5px;
}

.form .input:focus {
    box-shadow: 2px 2px 20px #0A8DFF;
    outline: 0;
}

.form .submit {
    display: block;
    background: #0A8DFF;
    font-size: 18px;
    margin: 10px auto;
    border: none;
    padding: 5px;
    color: white;
    font-family: 'Hind', sans-serif;
    width: 200px;
    border-radius: 5px;
}
