<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlaskBot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1>FlaskBot</h1>
    </header>

    <div class="wrapper">
        <div class="log">
            <ul></ul>
        </div>

        <form class="form" action="#">
            <input class="input" type="text" placeholder="Type your input here!">
            <button class="submit" type="submit">Submit!</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
